.poster-main{
  position: relative;
  width: 800px;
  height: 270px;
  background-color: red;
  .poster-list{
    width: 800px;
    height: 270px;
    .poster-item{
      position: absolute;
      left: 0;
      top: 0;
      list-style: none;
      a,img{
        display: block;
      }
    }
  }
  .poster-btn{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100px;
    height: 100%;
    cursor: pointer;
    &.poster-prev-btn{
      left: 0;
      background: url(../icon/prev.png) no-repeat left center;
    }
    &.poster-next-btn{
      right: 0;
      background: url(../icon/next.png) no-repeat right center;
    }
  }
}
