#G-lightbox-mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98; }

#G-lightbox-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50px;
  margin-left: -200px;
  width: 400px;
  z-index: 99; }
  #G-lightbox-popup .lightbox-pic-view {
    position: relative;
    border: 5px solid #fff;
    border-radius: 4px;
    background: #fff url(../icon/loading.gif) no-repeat center center;
    overflow: hidden; }
    #G-lightbox-popup .lightbox-pic-view .lightbox-btn {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 40%;
      height: 100%;
      background: url("../icon/transparent.png") repeat left top;
      cursor: pointer; }
      #G-lightbox-popup .lightbox-pic-view .lightbox-btn.lightbox-prev-btn {
        left: 0; }
        #G-lightbox-popup .lightbox-pic-view .lightbox-btn.lightbox-prev-btn.lightbox-prev-btn-show {
          background: url(../icon/prev.png) no-repeat left center; }
      #G-lightbox-popup .lightbox-pic-view .lightbox-btn.lightbox-next-btn {
        right: 0; }
        #G-lightbox-popup .lightbox-pic-view .lightbox-btn.lightbox-next-btn.lightbox-next-btn-show {
          background: url(../icon/next.png) no-repeat right center; }
      #G-lightbox-popup .lightbox-pic-view .lightbox-btn.disabled {
        display: none; }
    #G-lightbox-popup .lightbox-pic-view .lightbox-image {
      display: block; }
  #G-lightbox-popup .lightbox-pic-caption {
    position: relative;
    margin: 0 5px;
    margin-top: -60px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff; }
    #G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area {
      padding: 10px 5px; }
      #G-lightbox-popup .lightbox-pic-caption .lightbox-caption-area .lightbox-pic-desc {
        margin: 0; }
    #G-lightbox-popup .lightbox-pic-caption .lightbox-close-btn {
      position: absolute;
      right: 10px;
      top: 13px;
      z-index: 2;
      width: 27px;
      height: 27px;
      cursor: pointer;
      background: url(../icon/close.png) no-repeat center center; }
