<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表页</title>
</head>
<body>
  <header>

  </header>
  <nav>
    <a href="index.html">首页</a>
    <a href="list.html">列表页</a>
    <a href="detailed.html">详细页</a>
  </nav>
  <article class="main">
    <section>
      <img src="../images/default.png" alt="">
      <div class="list">

      </div>
    </section>
  </article>

  <footer>

  </footer>
</body>
</html>
