.layer {
  display: flex;
  width: 600px;
  height: 200px;
  box-shadow: 1px 1px 3px #ddd;
  .main {
    width: 400px;
    height: 200px;
    border: 1px solid red;
    transform: translate(20px, 30px);
    background: url(../../assets/default.png) no-repeat;
  }
}
