$color: green;

h1 {
  color: $color;
}
ul {
  li {
    margin: 30px;
    background: url(../images/onebit_08.png?__sprite) no-repeat;
    &:nth-of-type(2) {
      background-image: url(../images/onebit_11.png?__sprite);
    }
    &:nth-of-type(3) {
      background-image: url(../images/onebit_12.png?__sprite);
    }
    &:nth-of-type(4) {
      background-image: url(../images/onebit_17.png);
    }
  }
}
